.kamron {
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
}
.kamron_out {
  background-image: url(./imges/Rectangle.svg);
  background-blend-mode: overlay;
  background-color: #0a775f;
  padding-top: 50px;
  padding-bottom: 66px;
}
.kamron-2 {
  margin-top: 20px;
  padding: 20px;
}
.container {
}
.kamron_inner {
  position: relative;
}
.kamron_title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-variant: all-small-caps;
}
.kamron_main {
  margin-top: 80px;
  background-image: url(./imges/Vector\ 5.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.kamron_span {
  padding: 20px 30px 20px 30px;
  border: 5px solid rgb(211, 167, 7);
  margin-right: 380px;
  background-color: #fff;
}
.kamron_span-2 {
  padding: 20px 30px 20px 30px;
  border: 5px solid rgb(211, 167, 7);
  margin-top: 80px;
  background-color: #fff;
}
.kamron_list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.kamron_item {
  width: 433px;
  background-color: #fff;

  margin-top: 80px;
  position: relative;
  padding-top: 140px;
}
.kamron_list-number {
  color: #333;
  font-family: Roboto;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  position: absolute;
  left: 350px;
  top: 10px;
}
.kamron_list-number-2 {
  color: #333;

  font-size: 64px;
  top: 20px;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  position: absolute;
  left: 340px;
}
.kamron_list-title {
  color: #333;

  font-size: 40px;

  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  width: 201px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.kamron_list-title-2 {
  color: #333;

  font-size: 40px;

  font-weight: 500;
  line-height: normal;
  font-variant: all-small-caps;
  width: 201px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.kamron_img {
  position: absolute;
  left: 1090px;
  top: -35px;
}
.kamron_list-text {
  color: #333;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  width: 385px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.kamron_list-text-2 {
  color: #333;

  font-size: 18px;

  font-weight: 400;
  line-height: 28px;
  margin-left: 20px;
  margin-bottom: 40px;
}
.kamron_link {
  padding: 16px 24px;
  color: #fff;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;

  font-size: 16px;

  font-weight: 500;

  text-decoration: none;

  display: block;
  gap: 10px;
  border-radius: 100px;
  background-color: #c99b67;
}
